<p class="mt-3 mb-1" [innerHTML]="quiz.question"></p>
<div>
  <span class="me-2" *ngFor="let answer of quiz.answers; index as i">
    <input
      type="radio"
      class="btn-check"
      [name]="'answer_' + quiz.id"
      [id]="'answer_' + quiz.id + '_' + i"
      formControlName="answerFormControl"
      autocomplete="off"
    />
    <label
      class="btn btn-outline-success mt-1"
      [for]="'answer_' + quiz.id + '_' + i"
      (click)="onSelectAnswer(answer)"
      [innerHTML]="answer"
      [class.active]="
        choosenAnswer === answer ||
        (checkAnswers && quiz.correctAnswer == answer)
      "
      [class.btn-outline-danger]="
        checkAnswers &&
        choosenAnswer !== quiz.correctAnswer &&
        choosenAnswer === answer
      "
    ></label>
  </span>
</div>
