<h1 class="text-center">Quiz Maker</h1>
<form #quizForm="ngForm" (ngSubmit)="onCreate(quizForm)" novalidate>
  <div class="input-group">
    <select
      class="form-select"
      name="category"
      id="categorySelect"
      ngModel
      #category="ngModel"
      [class.is-valid]="category.valid"
      [class.is-invalid]="category.touched && category.invalid"
      required
    >
      <option value="" disabled>Select a category</option>
      <option *ngFor="let category of categories | async" [value]="category.id">
        {{ category.name }}
      </option>
    </select>
    <select
      class="form-select text-capitalize"
      name="difficulty"
      id="difficultySelect"
      ngModel
      #difficulty="ngModel"
      [class.is-valid]="difficulty.valid"
      [class.is-invalid]="difficulty.touched && difficulty.invalid"
      required
    >
      <option value="" disabled>Select difficulty</option>
      <option [value]="QuizDifficulty.EASY">{{ QuizDifficulty.EASY }}</option>
      <option [value]="QuizDifficulty.MEDIUM">
        {{ QuizDifficulty.MEDIUM }}
      </option>
      <option [value]="QuizDifficulty.HARD">{{ QuizDifficulty.HARD }}</option>
    </select>
    <button
      type="submit"
      class="btn btn-light border"
      id="createBtn"
      [disabled]="quizForm.invalid"
    >
      Create
    </button>
  </div>
</form>
<app-question
  *ngFor="let quiz of quizzes | async"
  [quiz]="quiz"
  (chooseAnswerEvent)="saveAnswer($event)"
></app-question>
<div class="d-grid my-3" *ngIf="showSubmit">
  <a class="btn btn-secondary" [routerLink]="['/result']">Submit</a>
</div>
